body {
    font-family: ink free;
    background-color: burlywood;
}
#fig {
    text-align: center;
    margin-top: 30px;
}
section {
    border-bottom: 5px double rgb(198, 158, 109);

}
img{
    border-radius: 10px ;

}
.catFace {
    display: block;
    margin: 0px auto;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);

}

h1, h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgba(199, 158, 109);
}
h2 {
    margin-top: 30px;
}
h3 {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(199, 158, 109);
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 3px 0px 3px 0px;
    text-decoration: underline;
    text-decoration-style: dotted;
    }

.catLove {
    border-radius: 5%;
    width: 10cm;
    height: 10cm;
    object-fit: cover;
}


